.page {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.background {
    position: absolute;
    border-top: $header-height solid $white;
    width: 100%;
    height: 100%;
    background-color: $white;
}

//http://dfsq.github.io/ngView-animation-effects/app/#/code
.fade {
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

.view-animate.ng-enter,
.view-animate.ng-leave {
    @include transition(all, .1s);
}

// .view-animate.ng-enter {
//   left: 100%;
// }
// .view-animate.ng-leave{
//   left: 0;
// }
// .view-animate.ng-enter.ng-enter-active {
//   left: 0;
// }
// .view-animate.ng-leave.ng-leave-active {
//   left: 100%;
// }
.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}