.float-left     { float: left; }
.float-right    { float: right;}
.clear-left     { clear: left; }
.clear-right    { clear: right;}

.align-left     { text-align: left; }
.align-right    { text-align: right; }
.align-center   { text-align: center; }

.hide { display: none; }
.show { display: block; }

.unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.no-margin {
    margin: 0;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
}

.button {
    color: $white;
    background-color: $brand-color;
    border-bottom: 2px solid darken($brand-color, 15%);
    @include border-radius($half-base-spacing);
}





//
// record abstraction
//
.record {
    margin: 0;
    //padding: 5px;
}

.record,
.record__body {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

.record__img {
    float: left;
    margin-right: 10px;
}

.record__img img {
    display: block;
}





//
// List Display
//
.list-display {

}

.list-display .record {
    display: block;
}

.list-display__item {
    border-bottom: 1px solid $border-color;
    padding: $base-spacing;
    margin: 0;
}





// Big arrows
.big-arrow {
    font-size: $base-spacing * 3;
    width: $base-spacing * 2;
    display: block;
    line-height: $base-spacing * 4;
}