// variables
$white: #ffffff;
$grey:  #898989;
$black: #000000;

$text-color: #363636;
$border-color: $grey;

$brand-color: #c8114a;

$base-font-size: 14px;
$base-line-height: $base-font-size * 1.5;

$base-spacing: 15px;
$half-base-spacing: $base-spacing/2;

$opacity-level: .85;

$font--serif: Georgia, serif;
$font--sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font--headings: "Century Gothic", CenturyGothic, Avenir, sans-serif;;

// imports
@import "mixins";
@import "normalize";
@import "reset";
@import "icon-font";
@import "grid";
@import "utilities";
@import "type";

// page laout
@import "header";
@import "page";

a {
    text-decoration: none;
}

a.active {
    color: $brand-color;
}

.background {
    position: absolute;
    border-top: $header-height solid $white;
    width: 100%;
    height: 100%;
    background-color: $white;
    background-image: url('/img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background2 {
    @extend .background;
    background-image: none;
}

.brand-color {
    color: $brand-color;
}

// views
@import "bio";
@import "news";
@import "schedule";