<!DOCTYPE html>
<html ng-app="app">
	<head>
        <meta name="description" content="">
		<meta charset="utf-8">
		<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, user-scalable=no"/>
		<title ng-bind="title"></title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>

	<body ng-controller="AppCtrl">
        <header class="header align-center">
            <a href="" class="header__menu-button" ng-click="toggleHeaderMenu=!toggleHeaderMenu"><span class="icon-list2"></span></a>
            <h1 class="header__title brand-color light" ng-bind="title"></h1>
        </header>
        <nav class="header__menu" ng-hide="toggleHeaderMenu" ng-controller="navCtrl">
            <ul class="main-nav unstyled">
                <li class="main-nav__item">
                    <a class="bold" ng-class="{ active: activePath=='/' }" href="#/">Bio</a>
                </li>
                <li class="main-nav__item">
                    <a class="bold" ng-class="{ active: activePath=='/news' }" href="#/news">News</a>
                </li>
                <li class="main-nav__item">
                    <a class="bold" ng-class="{ active: activePath=='/schedule' }" href="#/schedule">Schedule</a>
                </li>
            </ul>
        </nav>
        <div class="overlay" ng-hide="toggleHeaderMenu" ng-click="toggleHeaderMenu=!toggleHeaderMenu"></div>



        <div class="page view-animate" ng-view></div>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="js/app.js"></script>
	</body>
</html>
