<section class="view-wrapper">
    <div class="background background--bio">
        <a href="#/schedule" class="next-show record">
            <div class="record__img">
                <h2 class="next-show__date align-center alpha">
                    <small class="bold">Jan</small>
                    25
                </h2>
            </div>
            <div class="record__body">
                <p class="next-show__details float-left bold">
                    <span class="brand-color gamma">Green Dot Tavern</span><br>
                    Detroit, MI<br />
                    Doors open at 8:00pm
                </p>
                <p class="float-right"><span class="big-arrow brand-color icon-arrow-right5"></span></p>
            </div>
        </a>

        <div class="music-player">
            .
        </div>

        <a href="" class="read-more"><span class="brand-color bold icon-arrow-down6"></span></a>
    </div>

    <div class="bio">
        <h2 class="bio__header brand-color">About Jennifer Westwood</h2>
        <p>From the choir loft to the corner bar, Jennifer Westwood found her voice somewhere in the middle. A product of Detroit, she grew up listening to Motor City gospel, and also nurtured a fondness for her roots&mdash;a heritage filled with country music musicians.</p>
        <p>Singing in church landed her many studio gigs on various local jazz, hip-hop and R&amp;B projects and lead to her first public singing experiences, including a gig singing back up for Motown artist Carl Carlton (Bad Mama Jama) and singing the national anthem at a Detroit Lions opening day game.</p>
        <p>Since that time she has shared the stage and recorded with some of the best musicians found in Detroit and beyond, has performed on</p>
    </div>
</section>