<section class="view-wrapper">
    <div class="background">
        <ul class="music unstyled list-display">
            <li class="music__item">
                <div class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="float-left music__track">
                            <h2 class="music__track-title ellipsis delta">Natural Disaster</h2>
                            <p class="music__track-info no-margin">
                                <span class="music__track-length">3:44</span>
                                <span class="music__album-title ellipsis">Dishwater Blonde - EP</span>
                            </p>
                        </div>
                        <div class="float-right"><a href="" class="button music__button">Buy</a></div>
                    </div>
                </div>
            </li>
            <li class="music__item">
                <div class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="float-left music__track">
                            <h2 class="music__track-title ellipsis delta">Longer Song Title Here</h2>
                            <p class="music__track-info no-margin">
                                <span class="music__track-length">3:44</span>
                                <span class="music__album-title ellipsis">Dishwater Blonde - Full-Length</span>
                            </p>
                        </div>
                        <div class="float-right"><a href="" class="button music__button">Buy</a></div>
                    </div>
                </div>
            </li>
            <li class="music__item">
                <div class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="float-left music__track">
                            <h2 class="music__track-title ellipsis delta">Natural Disaster</h2>
                            <p class="music__track-info no-margin">
                                <span class="music__track-length">3:44</span>
                                <span class="music__album-title ellipsis">Dishwater Blonde - EP</span>
                            </p>
                        </div>
                        <div class="float-right"><a href="" class="button music__button">Buy</a></div>
                    </div>
                </div>
            </li>
            <li class="music__item">
                <div class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="float-left music__track">
                            <h2 class="music__track-title ellipsis delta">Natural Disaster</h2>
                            <p class="music__track-info no-margin">
                                <span class="music__track-length">3:44</span>
                                <span class="music__album-title ellipsis">Dishwater Blonde - EP</span>
                            </p>
                        </div>
                        <div class="float-right"><a href="" class="button music__button">Buy</a></div>
                    </div>
                </div>
            </li>
            <li class="music__item">
                <div class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="float-left music__track">
                            <h2 class="music__track-title ellipsis delta">Natural Disaster</h2>
                            <p class="music__track-info no-margin">
                                <span class="music__track-length">3:44</span>
                                <span class="music__album-title ellipsis">Dishwater Blonde - EP</span>
                            </p>
                        </div>
                        <div class="float-right"><a href="" class="button music__button">Buy</a></div>
                    </div>
                </div>
            </li>
            <li class="music__item">
                <div class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="float-left music__track">
                            <h2 class="music__track-title ellipsis delta">Natural Disaster</h2>
                            <p class="music__track-info no-margin">
                                <span class="music__track-length">3:44</span>
                                <span class="music__album-title ellipsis">Dishwater Blonde - EP</span>
                            </p>
                        </div>
                        <div class="float-right"><a href="" class="button music__button">Buy</a></div>
                    </div>
                </div>
            </li>
            <li class="music__item">
                <div class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="float-left music__track">
                            <h2 class="music__track-title ellipsis delta">Natural Disaster</h2>
                            <p class="music__track-info no-margin">
                                <span class="music__track-length">3:44</span>
                                <span class="music__album-title ellipsis">Dishwater Blonde - EP</span>
                            </p>
                        </div>
                        <div class="float-right"><a href="" class="button music__button">Buy</a></div>
                    </div>
                </div>
            </li>
            <li class="music__item">
                <div class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="float-left music__track">
                            <h2 class="music__track-title ellipsis delta">Natural Disaster</h2>
                            <p class="music__track-info no-margin">
                                <span class="music__track-length">3:44</span>
                                <span class="music__album-title ellipsis">Dishwater Blonde - EP</span>
                            </p>
                        </div>
                        <div class="float-right"><a href="" class="button music__button">Buy</a></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>