<section class="view-wrapper">
    <div class="background">
        <ul class="news unstyled list-display">
            <li class="news__item">
                <a href="" class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="news__headline float-left">
                            <h2 class="delta">
                             Behind the scenes of my Interview magazine</h2>
                            <p class="news__time no-margin">Sat Jan 28 12:51pm</p>
                        </div>
                        <div class="float-right"><span class="big-arrow brand-color icon-arrow-right5"></span></div>
                    </div>
                </a>
            </li>
            <li class="news__item">
                <a href="" class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="news__headline float-left">
                            <h2 class="delta">
                             Behind the scenes of my Interview magazine, on sasdfasdfafdad</h2>
                            <p class="news__time no-margin">Sat Jan 28 12:51pm</p>
                        </div>
                        <div class="float-right"><span class="big-arrow brand-color icon-arrow-right5"></span></div>
                    </div>
                </a>
            </li>
            <li class="news__item">
                <a href="" class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="news__headline float-left">
                            <h2 class="delta">
                             Behind the scenes of my Interview magazine</h2>
                            <p class="news__time no-margin">Sat Jan 28 12:51pm</p>
                        </div>
                        <div class="float-right"><span class="big-arrow brand-color icon-arrow-right5"></span></div>
                    </div>
                </a>
            </li>
            <li class="news__item">
                <a href="" class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="news__headline float-left">
                            <h2 class="delta">
                             Behind the scenes of my Interview magazine</h2>
                            <p class="news__time no-margin">Sat Jan 28 12:51pm</p>
                        </div>
                        <div class="float-right"><span class="big-arrow brand-color icon-arrow-right5"></span></div>
                    </div>
                </a>
            </li>
            <li class="news__item">
                <a href="" class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="news__headline float-left">
                            <h2 class="delta">
                             Behind the scenes of my Interview magazine, on sasdfasdfafdad</h2>
                            <p class="news__time no-margin">Sat Jan 28 12:51pm</p>
                        </div>
                        <div class="float-right"><span class="big-arrow brand-color icon-arrow-right5"></span></div>
                    </div>
                </a>
            </li>
            <li class="news__item">
                <a href="" class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="news__headline float-left">
                            <h2 class="delta">
                             Behind the scenes of my Interview magazine, on sasdfasdfafdad</h2>
                            <p class="news__time no-margin">Sat Jan 28 12:51pm</p>
                        </div>
                        <div class="float-right"><span class="big-arrow brand-color icon-arrow-right5"></span></div>
                    </div>
                </a>
            </li>
            <li class="news__item">
                <a href="" class="record list-display__item">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="news__headline float-left">
                            <h2 class="delta">
                             Behind the scenes of my Interview magazine, on sasdfasdfafdad</h2>
                            <p class="news__time no-margin">Sat Jan 28 12:51pm</p>
                        </div>
                        <div class="float-right"><span class="big-arrow brand-color icon-arrow-right5"></span></div>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</section>