<section class="view-wrapper">
    <div class="background2">
        <ul class="news unstyled">
            <li class="news__item">
                <a href="" class="record">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <p class="news__headline ellipsis float-left">
                             Behind the scenes of my Interview magazine, on s...
                            <span class="news__time">Sat Jan 28 12:51pm</span>
                        </p>
                        <p class="float-right"><span class="brand-color icon-arrow-right5"></span></p>
                    </div>
                </a>
            </li>
            <li class="news__item">
                <a href="" class="record">
                    <img class="record__img" src="http://placekitten.com/60/60">
                    <div class="record__body">
                        <div class="news__headline float-left">
                            <h2 class="ellipsis epsilon">
                             Behind the scenes of my Interview magazine, on sasdfasdfafdad</h2>
                            <p class="news__time">Sat Jan 28 12:51pm</p>
                        </div>
                        <p class="float-right"><span class="brand-color icon-arrow-right5"></span></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>