<section class="view-wrapper">
    <div class="background">
        <ul class="photo-gallery unstyled">
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
            <li><a class="photo-gallery__item float-left swipebox" href="img/home.jpg"><img src="http://placehold.it/100/100" alt="" /></a></li>
        </ul>
    </div>
</section>

