<section class="view-wrapper">
    <div class="background">
        <ul class="schedule unstyled list-display">
            <li class="schedule__item list-display__item">
                <p class="float-right">
                    Traverse City, MI<br />
                    Tuesday - Friday
                </p>
                <h2>7/31-8/3</h2>
                <h3>Traverse City Film Festival Lars Theater</h3>
                <p><a href="" class="brand-color">Tickets</a> | <a href="" class="brand-color">Map</a></p>
            </li>
            <li class="schedule__item list-display__item">
                <p class="float-right">
                    Detroit, MI<br />
                    Tuesday, 9pm - 12am
                </p>
                <h2>8/7</h2>
                <h3>Green Dot Tavern</h3>
            </li>
            <li class="schedule__item list-display__item">
                <p class="float-right">
                    Sterling Heights, MI<br />
                    Wednesday 7pm - 10pm
                </p>
                <h2>8/8</h2>
                <h3>Jenuwine Cigar Lounge</h3>
            </li>
            <li class="schedule__item list-display__item">
                <p class="float-right">
                    Ferndale, MI<br />
                    Friday, 10pm
                </p>
                <h2>8/10</h2>
                <h3>One Eyed Betty's</h3>
            </li>
            <li class="schedule__item list-display__item">
                <p class="float-right">
                    Berkley, MI<br />
                    Saturday, 10pm
                </p>
                <h2>8/12</h2>
                <h3>One Eyed Betty's</h3>
                <p><a href="" class="brand-color">Tickets</a> | <a href="" class="brand-color">Map</a></p>
            </li>
        </ul>
    </div>
</section>