<section class="view-wrapper">
    <div class="background">
        <ul class="video unstyled list-display">
            <li class="video__item">
                <div class="record list-display__item">
                    <div class="record__img">
                        <img src="http://placekitten.com/80/50">
                        <a href="" class="video__play-button button align-center">
                            <span class="icon-play gamma"></span>
                        </a>
                    </div>
                    <div class="record__body">
                        <div class="float-left video__details">
                            <h2 class="video__title ellipsis delta">Natural Disaster Official Video</h2>
                            <p class="video__length no-margin">3:44</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="video__item">
                <div class="record list-display__item">
                    <div class="record__img">
                        <img src="http://placekitten.com/80/50">
                        <a href="" class="video__play-button button align-center">
                            <span class="icon-play gamma"></span>
                        </a>
                    </div>
                    <div class="record__body">
                        <div class="float-left video__details">
                            <h2 class="video__title ellipsis delta">My Thoughts About Country Music</h2>
                            <p class="video__length no-margin">6:40</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="video__item">
                <div class="record list-display__item">
                    <div class="record__img">
                        <img src="http://placekitten.com/80/50">
                        <a href="" class="video__play-button button align-center">
                            <span class="icon-play gamma"></span>
                        </a>
                    </div>
                    <div class="record__body">
                        <div class="float-left video__details">
                            <h2 class="video__title ellipsis delta">What would Jenni Brew?</h2>
                            <p class="video__length no-margin">3:44</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="video__item">
                <div class="record list-display__item">
                    <div class="record__img">
                        <img src="http://placekitten.com/80/50">
                        <a href="" class="video__play-button button align-center">
                            <span class="icon-play gamma"></span>
                        </a>
                    </div>
                    <div class="record__body">
                        <div class="float-left video__details">
                            <h2 class="video__title ellipsis delta">Valentine Vodka Performance August 23, 2013</h2>
                            <p class="video__length no-margin">3:44</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="video__item">
                <div class="record list-display__item">
                    <div class="record__img">
                        <img src="http://placekitten.com/80/50">
                        <a href="" class="video__play-button button align-center">
                            <span class="icon-play gamma"></span>
                        </a>
                    </div>
                    <div class="record__body">
                        <div class="float-left video__details">
                            <h2 class="video__title ellipsis delta">Natural Disaster Official Video</h2>
                            <p class="video__length no-margin">3:44</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="video__item">
                <div class="record list-display__item">
                    <div class="record__img">
                        <img src="http://placekitten.com/80/50">
                        <a href="" class="video__play-button button align-center">
                            <span class="icon-play gamma"></span>
                        </a>
                    </div>
                    <div class="record__body">
                        <div class="float-left video__details">
                            <h2 class="video__title ellipsis delta">Natural Disaster Official Video</h2>
                            <p class="video__length no-margin">3:44</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="video__item">
                <div class="record list-display__item">
                    <div class="record__img">
                        <img src="http://placekitten.com/80/50">
                        <a href="" class="video__play-button button align-center">
                            <span class="icon-play gamma"></span>
                        </a>
                    </div>
                    <div class="record__body">
                        <div class="float-left video__details">
                            <h2 class="video__title ellipsis delta">Natural Disaster Official Video</h2>
                            <p class="video__length no-margin">3:44</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="video__item">
                <div class="record list-display__item">
                    <div class="record__img">
                        <img src="http://placekitten.com/80/50">
                        <a href="" class="video__play-button button align-center">
                            <span class="icon-play gamma"></span>
                        </a>
                    </div>
                    <div class="record__body">
                        <div class="float-left video__details">
                            <h2 class="video__title ellipsis delta">Natural Disaster Official Video</h2>
                            <p class="video__length no-margin">3:44</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>